.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.container{
    background:#ff004f;
    border-radius: 30px;
    padding: 30px;
}
.input_box #btn{
    background:blue;
    border-radius: 5px;
}
